@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
    @apply underline;
}

blockquote {
    @apply mb-4;
    @apply px-8;
    color: rgb(115,115,115);
    border-left: .25em solid rgb(200,200,200);
}

header h1 {
    @apply m-0;
    @apply text-3xl;
    @apply md:text-5xl;
    @apply font-mono;
}

.breadcrumbs {
    font-family: 'Work Sans', system-ui, sans-serif;

}

h1, h2, h3, h4, h5 {
    font-family: 'Work Sans', system-ui, sans-serif;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

.list-header {
    @apply pt-8;
    @apply pb-2;
}

.list-list-sections-header {
    @apply pt-8;
    @apply pb-2;
    @apply font-medium
}

.list-list-sections-list h1,
.list-list-sections-list h2,
.list-list-sections-list h3,
.list-list-sections-list h4,
.list-list-sections-list h5,
.list-list-sections-list h6 {
    @apply pt-2;
    @apply pb-1;
    @apply font-medium
}

code {
    background-color: rgb(240, 240, 240);
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    @apply pt-4;
    @apply pb-2;
}

.content h1, .content h2, .content h3 {
    @apply font-medium
}

.content h4, .content h5, .content h6 {
    @apply font-semibold
}

.content  p, blockquote, pre  {
    @apply overflow-auto;
}
.content p {
    @apply mb-4;
}

.content a {
    @apply underline;
}

.content ul {
    /*@apply mb-4;*/
    @apply pl-8;
    @apply list-disc;
}

.content ul ul {
    @apply mb-0;
}

.content ol {
    @apply mb-4;
    @apply pl-8;
    @apply list-decimal;
}

.content pre {
    @apply mb-4;
    @apply p-4;
    @apply whitespace-pre-wrap;
    @apply text-sm;
}

.single-pagination {
    font-family: 'Work Sans', system-ui, sans-serif;
}

.single-pagination a {
    @apply no-underline;
}
.single-pagination a:hover {
    @apply underline;
}
