@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
    @apply underline;
}

blockquote {
    @apply mb-4;
    @apply px-4;
    color: rgb(115,115,115);
    border-left: .25em solid rgb(200,200,200);
}

h1, h2, h3, h4, h5 {
    font-family: 'Work Sans', system-ui, sans-serif;
    @apply mt-6;
    @apply mb-4;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

:is(h1,h2,h3) {
    @apply font-medium;
}

:is(h4,h5) {
    @apply font-semibold;
}

code {
    background-color: rgb(240, 240, 240);
}

.content p {
    @apply mb-4;
}

.content a {
    @apply underline;
}

.content ul {
    @apply mb-4;
    @apply pl-8;
    @apply list-disc;
}

.content ul ul {
    @apply mb-0;
}

.content ol {
    @apply mb-4;
    @apply pl-8;
    @apply list-decimal;
}

.content pre {
    @apply mb-4;
    @apply p-4;
    @apply whitespace-pre-wrap;
    @apply text-sm;
}
