{{ define "main" }}
<div class="container px-8 py-4 bg-white">
    <h1 class="my-0"><a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <hr>
    {{ range sort .Sections ".Params.order_number" }}
    <h2 class="header text-3xl">
        <a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ range sort .Sections ".Params.order_number" }}
    <h3 class="header text-2xl">
        <a class="text-decoration-none" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h3>
    <ul class="list-disc pl-8">
        {{ range sort .Pages ".Params.order_number"}}
        <li>
            <h4 class="mt-2 mb-1 font-normal"><a class="" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}
</div>
{{ end }}
