{{ define "main" }}
    {{ partial "breadcrumbs.html" . }}
    <div class="list">
    {{ partial "list-header.html" . }}
    </div>
    <div class="list list-list">
        {{ if .Sections }}
            <!-- This is a list page for a Section containing further Sections -->
            {{ range sort .Sections ".Params.weight" }}
                <div class="list-list-sections-header">
                <h2>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>
                </div>
                <div class="list-list-sections-list">
                <ul class="list-ul">
                    {{ range sort .Pages ".Params.weight"}}
                        <li>
                            <h3>
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h3>
                            <p class="list-item-summary">{{ .Summary }}</p>
                        </li>
                    {{ end }}
                </ul>
                </div>
            {{ end }}

        {{ else if .Pages }}
            <!-- This is a list page for a leaf Section containing only Pages -->
            <div class="list-list-sections-header">
                <h2>Posts</h2>
            </div>
            <div class="list-list-sections-list">
                <ul class="list-ul">
                    {{ range sort .Pages ".Params.weight"}}
                        <li>
                            <h3>
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </h3>
                            <p class="list-item-summary">{{ .Summary }}</p>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    </div>
{{ end }}
