{{ define "main" }}

{{ partial "breadcrumbs.html" . }}

<div class="container content px-8 md:px-8 py-0 bg-white">


  {{ if .Param "showTags" }}

  {{ $taxonomy := "tags" }}
  {{ with .Param $taxonomy }}

  <div class="single-tags">
    {{ range $index, $tag := . }}
    {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $tag) -}}
    <span>
      <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
    </span>
    {{ end }}
    {{ end }}
  </div>

  {{ end }}
  {{ end }}




  {{/* Page content */}}

    <h1 class="text-center">{{ .Title }}</h1>
    <p class="mt-2 mb-1 text-center text-xl">{{ .Page.Summary }}</p>
    <p class="mt-2 mb-1 text-center text-md">{{ .Site.Params.AuthorName }}</p>
    <hr>
    {{ .Content }}
  {{/* Next prev controls */}}

  {{ if not (.Param "hidePagination") }}
  {{ partial "pagination-single.html" . }}
  {{ end }}

</div>

{{ end }}