<div class="container pt-8 font-medium font-mono">
    <div class="flex flex-row flex-wrap items-center pt-2">
        <div class="basis-full px-8 md:px-8 text-left">
            <h1 class="header"><a href="/">francoposa.io</a></h1>
        </div>
    </div>
    <div class="flex flex-row flex-wrap items-center pt-4 pb-2">
        <div class="flex flex-row flex-wrap basis-full px-8 md:px-8 text-md text-left">
        {{ $currentPage := . }}
        {{ with site.Params.menu }}
        {{ range . }}
            <span class="px-1"><a href="{{.url}}" class="{{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
                /{{.name }}
            </a>
            </span>
        {{ end }}
        {{ end }}
        </div>

    </div>
</div>